<%- model_class = SpecificSkill -%>
<div class="row">
  <div class="col s12 m12 l12">
    <h5 class="breadcrumbs-title">Competências Específicas</h5>
    <ol class="breadcrumbs">
        <li>Cadastros</li>
        <li> <a href="<%= specific_skills_path %>">Competências Específicas</a></li>
        <li class="active">Nova</li>
    </ol>
  </div>
</div>
<br><%= render :partial => 'form' %>
