<%- model_class = StudyUnit -%>
<div class="row">
  <div class="col s12 m12 l12">
    <h5 class="breadcrumbs-title">Unidades de Estudo</h5>
    <ol class="breadcrumbs">
        <li>Cadastros</li>
        <li> <a href="<%= study_units_path %>">Unidades de Estudo</a></li>
        <li class="active">Novo</li>
    </ol>
  </div>
</div>
<br>
<%= render :partial => 'form' %>
