<%- model_class = Meeting -%>
<div class="row">
  <div class="col s12 m12 l12">
    <h5 class="breadcrumbs-title">Encontros</h5>
    <ol class="breadcrumbs">
        <li>Cadastros</li>
        <li> <a href="#">Planos de Aula</a></li>
        <li>Encontros</li>
        <li class="active">Editar</li>
    </ol>
  </div>
</div>
<br>
<%= render :partial => 'form' %>
