<%- model_class = CourseModule -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Editar %{model}'], :model => 'Módulo do Curso'%></h1>
</div>
<%= render :partial => 'form' %>
