<%- model_class = Relationship -%>
<div class="row">
  <div class="col s12 m12 l12">
    <h5 class="breadcrumbs-title">Relacionamentos</h5>
    <ol class="breadcrumbs">
        <li>Cadastros</li>
        <li> <a href="<%= relationships_path %>">Relacionamentos</a></li>
        <li class="active">Novo</li>
    </ol>
  </div>
</div>
<br>
<%= render :partial => 'form' %>
