<%- model_class = Methodology -%>
<div class="row">
  <div class="col s12 m12 l12">
    <h5 class="breadcrumbs-title">Metodologias</h5>
    <ol class="breadcrumbs">
        <li>Cadastros</li>
        <li> <a href="<%= methodologies_path %>">Metodologias</a></li>
        <li class="active">Edição</li>
    </ol>
  </div>
</div>
<br>
<%= render :partial => 'form' %>
