<%- model_class = AttitudinalSkill -%>
<div class="row">
  <div class="col s12 m12 l12">
    <h5 class="breadcrumbs-title">Competências Atitudinais</h5>
    <ol class="breadcrumbs">
        <li>Cadastros</li>
        <li> <a href="<%= attitudinal_skills_path %>">Competências Atitudinais</a></li>
        <li class="active">Nova</li>
    </ol>
  </div>
</div>
<br>
<%= render :partial => 'form' %>
