<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
  <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
  <title>SPA - UNIFEOB</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Favicons-->
  <link rel="icon" href="/materialize/images/favicon/favicon.png" sizes="32x32">
  <!-- Favicons-->
  <link rel="apple-touch-icon-precomposed" href="/materialize/images/favicon/apple-touch-icon-152x152.png">
  <!-- For iPhone -->
  <meta name="msapplication-TileColor" content="#00bcd4">
  <meta name="msapplication-TileImage" content="/materialize/images/favicon/mstile-144x144.png">
  <!-- For Windows Phone -->

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- CORE CSS-->

  <link href="/materialize/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/materialize/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/materialize/css/layouts/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">
  <!-- Custome CSS-->
  <link href="/materialize/css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">

  <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
  <link href="/materialize/js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">

  <%= csrf_meta_tags %>

</head>

<body class="cyan">
  <div id="login-page" style="width: 400px" class="row">
    <div class="col s12 z-depth-4 card-panel">
        <%= yield %>
    </div>
  </div>


    <!-- ================================================
    Scripts
    ================================================ -->

    <!-- jQuery Library -->
    <script type="text/javascript" src="/materialize/js/plugins/jquery-1.11.2.min.js"></script>
    <!--materialize js
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!--prism
    <script type="text/javascript" src="/materialize/js/prism/prism.js"></script>-->
    <!--scrollbar-->
    <script type="text/javascript" src="/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="/materialize/js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="/materialize/js/custom-script.js"></script>

</body>

</html>
